pdfminer.six==20221105
pdfplumber==0.7.6
pycparser==2.21
PyPDF3==1.0.6
pypiwin32==223
python-telegram-bot==13.12
pyttsx3==2.90
pytz==2022.7
pytz-deprecation-shim==0.1.0.post0
pywin32==305
telegram==0.0.1